In [5]:
import numpy as np
import pandas as pd

np.random.seed(0)  

AA1 = np.random.uniform(8.1,15.7, size=600) # losowe fload
AA2 = np.random.randint(12,25, size=600)    # losowe int

# --------------- generator 3 składnikowych znaków losowych powtarzających się---
import string
import random

def id_generator(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.choice(chars) for _ in range(size))

STR_1 = []
for a in range(600):
    STR_1.append(id_generator(3, "3etrY"))
# ----------------------------------------------------------------
STR_2 = []
for a in range(600):
    STR_2.append(id_generator(2, "AKLS3"))
# -----------------------------------------------------------------------
AA3 = np.random.uniform(0.1,2.7, size=600) # losowe fload
AA4 = np.random.randint(1222,2235, size=600)    # losowe int
# ----------------------------------------------------------------
STR_3 = []
for a in range(600):
    STR_3.append(id_generator(4, "KPL"))
# -----------------generator wartości z WARTOŚCIAMI ODSTAJĄCYMI---------------

def generate(median=630, err=12, outlier_err=100, size=80, outlier_size=10):
    errs = err * np.random.rand(size) * np.random.choice((-1, 1), size)
    data = median + errs

    lower_errs = outlier_err * np.random.rand(outlier_size)
    lower_outliers = median - err - lower_errs

    upper_errs = outlier_err * np.random.rand(outlier_size)
    upper_outliers = median + err + upper_errs

    data = np.concatenate((data, lower_outliers, upper_outliers))
    np.random.shuffle(data)

    return data

# --------PIERWSZY SZEREG Z OUTLAYERAMI -----
# wielkość próby 580+(2*10)=600
AA5 = generate(median = 630, err = 12, outlier_err = 100, size = 580, outlier_size = 10)

# --------DRUGI SZEREG Z OUTLAYERAMI -----
# wielkość próby 590+(2*5)=600
AA6 = generate(median = 30, err = 2, outlier_err = 10, size = 590, outlier_size = 5) 

## ----------- wartość wynikowa -------------------------------------

AA7 = np.random.uniform(88.1,115.7, size=600) # losowe fload

In [6]:
df = pd.DataFrame({
    'AA1': AA1,
    'AA2': AA2,
    'AA3': AA3,
    'AA4': AA4,
    'STR_1': STR_1,
    'STR_2': STR_2,
    'STR_3': STR_3,
    'AA5': AA5,
    'AA6': AA6,
    'AA7': AA7,
})
df

,AA1,AA2,AA3,AA4,STR_1,STR_2,STR_3,AA5,AA6,AA7
0,12.270983,24,0.389890,1272,tee,33,LLKP,631.913629,31.910406,109.101952
1,13.535439,16,1.293322,1772,3et,3A,PPKL,553.381897,31.784705,90.229384
2,12.681002,13,0.938067,2185,Y3e,3S,KPLP,552.019597,28.794357,105.623176
3,12.241112,17,0.922902,1986,t33,AS,LPPL,638.652521,28.551807,88.672296
4,11.319776,12,1.354719,1636,eee,AA,KKLK,637.083359,29.823378,102.844021
...,...,...,...,...,...,...,...,...,...,...
595,15.684513,23,1.010705,1571,Y33,KA,LLLP,632.582191,29.223020,95.186482
596,10.852637,15,2.491319,1328,ee3,AK,KLKL,629.888587,31.604836,110.110226
597,11.676932,20,2.597993,1976,t3t,KS,LLKL,618.438360,29.951844,103.744388
598,10.974663,15,1.765468,1825,te3,AA,LPPL,623.037022,29.631430,114.214040
599,15.544405,12,1.890486,1382,Yrr,3K,KKLP,639.497445,29.831691,103.221325